/***
**
*	Custom CSS
**
***/

body, section {			/* Change width and height to own preferences */
	width: 500px;
	height: 400px;
	overflow-x: hidden;
}

/* Basic style tweaks */
section {
  padding: 5px;
  padding-top: 0px;
}
.navbar { margin-bottom: 2px; }

/* Scroll Bar */
::-webkit-scrollbar { width: 6px; }
::-webkit-scrollbar-track { -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); }
::-webkit-scrollbar-thumb, ::-webkit-scrollbar-thumb:window-inactive  { background: red; }

.navbar {
  background-color: #1272BA;
  border: 0px;
  border-radius: 0px;
  height: 40px;
  min-height: 0;
}

.navbar a,
.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-brand {
  color: #fff;
}

.navbar-nav>li>a {
  padding-top: 10px;
}

.navbar-brand {
  font-size: 15px;
  padding: 10px;
}

.navbar-default .navbar-brand:focus {
  color: #fff;
}

.navbar .user-avatar img{
  width: 30px;
  height: 30px;
  margin: 5px;
}

contacts {
  width: 100%;
}
contact {
  padding: 5px;
  height: 37px;
  display: block;
  width: 100%;
  /* float: left; */
  clear: both;
  height: 150px;

  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  margin-bottom: 10px;
  background-color: #eee;
}

.contact-header {
  width: 110px;
  display: block;
  float: left;
}

.contact-header img {
  width: 80px;
  height: 80px;
  padding: 10px;

  border: 2px solid #ccc;
  border-radius: 20px;
  background-color: #fff;
}

messages {
  display: block;
  overflow-x: auto;
  float: left;
  padding: 3px;
  max-height: 140px;
}

message {
  display: block;
  margin: 5px 0px;
  background-color: #fff;
  border-radius: 5px;
  padding: 1px;
}

message > avatar img {
  width: 25px;
  height: 25px;
}

message > avatar {
  height: 30px;
  width: 25px;
  display: block;
  float: left;
  margin: 3px 10px 3px 3px;
}

message-form-add > form .new-message {
  width: 90%;
  min-width: 200px;
}

div.small {
  font-size: 0.75em;
}